*, body {
    margin : 0 ;
    padding : 0 ;
}

#global-navi ul {
    border-top : solid 1px #EEE ;
    border-bottom : solid 1px #EEE ;
    border-right : solid 1px #EEE ;
}

#global-navi ul li {
    width : 100px ;
    height : 60px ;
    line-height : 60px ;
    text-align : center ;
    border-left : solid 1px #EEE;
}

#container {
    width : 760px ;
}

#footer {

}

a  {
    color : #105CB6;
}

a:hover {
    color : #000033;
}

ul {
    margin : 0 ;
    padding : 0 ;
}

.left {
    float : left ;
}

.right {
    float : right ;
}

.overflow {
    overflow: hidden ;
}


